.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.title_container {
    width: 100%;
    background: #F5F5F5;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
}

.subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 24px;
}

.slides {
    width: 100%;
}