.menuItem {
    all: unset;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    color: #111;
    text-decoration: none;
    cursor: pointer;
}

.headerMenu {
    display: flex;
    gap: 24px;
    padding: 22px;
    margin-left: 280px;
}

