.header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 50px 0;
}

.go_back {
    position: relative;
    color: black;
    font-weight: 600;
    font-size: 20px;
    border: none;
    background: none;
}

.go_back::before {
    content: url("../../../public/images/chevron-left.png");
    position: absolute;
    top: 1px;
    left: -20px;
}

.under_image {
    font-size: 20px;
}

.store_info {
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.green {color: green;}
.red {color: red;}

.rating {
    position: relative;
    font-size: 23px;
}

.rating::after {
    content: url("../../../public/images/star-fill.png");
    position: absolute;
    right: 80px;
}