.btn_totop {
    all: unset;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    position: fixed;
    z-index: 2000;

}

.btn_totop:hover {
    filter: drop-shadow(-5px 5px 5px black);
}