.bannerMenu {
    display: flex;
    align-items: center;
    gap: 14px;
}

.menuItem {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 14px;
    text-decoration: none;
    color: black;
}

.v_line {
    width: 2px;
    height: 18px;
    background: #000;
}