header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_btn {
    border: none;
    background: none;
    padding: 0;
}

.navs {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.menu_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

#search_input {
    width: 90%;
    background: none;
    border: none;
    outline: none;
    padding: 0 10px;    
}

#search_input::placeholder {
    color: #bcbcbc;
    font-size: 14px;
}

.search_container {
    width: 95%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #F5F5F5;
    border-radius: 25px;
}

.bag {
    position: relative;
}

.count {
    font-size: 10px;
    color: white;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -15px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
}