.goods_images {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.goods {
    width: 100%;
    display: flex;
}

.loading {
    width: 42%;
    height: 250px;
    overflow: hidden;
    background: #e4e4e4;
    animation: load 1.3s infinite linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goods_description {
    width: 360px;
}

.about_goods {
    color: #111;
    font-size: 16px;
    font-family: Inter;
    line-height: 28px;
}

@keyframes load {
    50% {
        background: #d1d1d1;
    }
}

@media screen and (max-width: 1270px) {
    .goods_images {
        width: 100%;
    }

    .loading {
        width: 100%;
    }
}