@font-face {
    font-family: "helvetica";
    src: url("../public/fonts/helvetica-neue_6DzQQ/Helvetica\ Neue\ Regular.otf");
}

#root {
    font-family: "helvetica";
}

body {
    overflow-x: hidden;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}